@tailwind base;
@tailwind components;
@tailwind utilities;

.golden-ratio-shape {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.App {
  margin: 0 auto;
  display: flex;
}

main {
  margin: auto;
}

button {
  padding: 1rem;
}